<footer>
    <div id="site-sections">
        <ul>
            <li><a href="#nav">Home</a></li>
            <li><a href="#projects">My Projects</a></li>
            <li><a href="#"></a></li>
        </ul>
    </div>
    <div id="links">
        <ul>
            <li>
                <a href="https://github.com/L-Murphy">Github</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/liam-murphy-6b0529156/" class="linkedin">LinkedIn</a>
            </li>
            <li>
                <a href="/assets/LiamMurphyResume_OnlineVersion.pdf" download="Liam Murphy Resume" id="download" class="download">Download Resume</a>
            </li>
        </ul>
    </div>    
</footer>
