<section id="about" class="section about">
    <div id="about">
        <h2 class="title">About Me</h2>
        <div class="aboutDiv fig">
          <figure class="picture">
            <img class="profile_picture" src="assets/images/profile-old.jfif">
          </figure>
        </div>

        <div class="about_paragraph">
          <p>
            My name is Liam Murphy and I am a fifth year software engineering student at Carleton University. I will be graduating in December of 2022 and am looking for a job that starts in January.
            I would prefer to work on web applications or automation, but am open to learning any new technology for a job. 
            When I'm not programming I enjoy lifting weights, playing trading card games such as Hearthstone, and watching the Sens <s>kick butt</s> lose in style. 
          </p>
        </div>
    </div>
</section>

<section id="technical" class="section">
    <div id="technical">
        <h2 class="title">Technical Knowledge</h2>
        <p class="technical_paragraph paragraph">
          I have experience in using the following for software development:
        </p>
        <div class = "list-container">
          <ul id="languages">
            <li class="list_title"><b>Languages</b></li>
            <li>Python</li>            
            <li>Javascript</li>
            <li>Typescript</li>
            <li>Java</li>
            <li>C#</li>
            <li>C</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>PHP</li>
            <li>Ruby</li>
          </ul>

         
          <ul id="frameworks">
            <li class="list_title"><b>Frameworks</b></li>
            <li>Angular</li>
            <li>Selenium</li>
            <li>git</li>
            <li>NodeJS</li>
            <li>AWS</li>   
            <li>Ruby on Rails</li>
            <li>BURP</li>

          </ul>

          <ul id="software">
            <li class="list_title"><b>Software</b></li>            
            <li>Jira</li>
            <li>GitHub</li>
            <li>Visual Studio Code</li>
            <li>Excel</li>
            <li>Word</li>
          </ul>
        </div>
    </div>
</section>

<section id="experience" class="section">
    <div id="experiences">
        <h2 class="title">Experiences</h2>
        <h3 class="subtitle">Job Experince</h3>
        <p class="paragraph">
          I have previous job experience working as an automation developer, junior software developer, and quality assurance developer. 
          These roles have prepared me to work as part of a team in a professional software development environment. 
        </p>
        <h3 class="subtitle">School Experinces</h3>
        <p class="paragraph">
          I am currently attending Carleton University where I am an undergraduate Software Engineering student. 
          I will be graduating December 2021.              
        </p>
    </div>
</section>

<section id="projects" class="section">
    <div id="projects">
        <h2 class="title">Personal Projects</h2>
          <ul class="projectList">
            <li>
              I made this very website using the Angular framework. Visit the repository <a href="https://github.com/L-Murphy/Liam-website">here</a>.
            </li>
            <li>
              I made a script to login and book a timeslot at the Carleton gym using Python and Selenium. Visit the repository <a href="https://github.com/L-Murphy/robo_gym">here</a>.
            </li>
          </ul>
    </div>
</section>

<app-contact></app-contact>
<app-reviews></app-reviews>