/* This file is very messy right now. TODO: format it */


.picture {
    margin: 0;
    float: left;
    width: 90%;
    height: 50%;
    padding: .5em;
}

.profile_picture{
    width: 100%;
    height: 100%;
}

.about{
    display: inline-block;
}

.fig{
    width: 20%;
    height: 50%;
    float: left;
}

.about_paragraph {
    width: 75%;
    height: 50%;
    float: right;
    font-size: 1.25em;
}

.section {
    margin: 1em;
    font-size: 1em;
    padding: 1em;
    background-color: #CCCC;
    border-radius: 15px;
}

.list-container {
    display: flex;
}

.list_title {
    font-size: 1.5em;
    padding-bottom: .5em;
}

div#technical ul{
    flex: 33%;
}

div#technical ul li{
    text-decoration: none;
    list-style: none;
    text-align: center;
} 

.title {
    font-size: 2em;
    padding-left: .5em;
}

.paragraph {
    padding-left: 1em;
    font-size: 1.25em;
}

.subtitle {
    padding-left: 1em;
}