<section id="about" class="section">
    <div id="about">
        <h2>About Me</h2>
        <figure>
          <img src="assets/images/Me.jpg">
        </figure>
        <p>My name is Liam Murphy and I am a fifth year software engineering student at Carleton University. I will be graduating in January of 2022 and am looking for a job that starts in January.
          I enjoy working as part of a team to create products and solutions to a variety of problems. 
          When I'm not working I enjoy lifting weights, playing trading card games, and watching the Sens kick butt. 
        </p>
    </div>
</section>

<section id="technical" class="section">
    <div id="technical">
        <h2>Technical Knowledge</h2>
        <p>
          I have experience in many different software tools including:
        </p>
        <div class = "list-container">
          <ul id="languages">
            <li>Python</li>
            <li>Java</li>
            <li>Javascript</li>
            <li>Typescript</li>
            <li>C#</li>
            <li>C</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Ruby</li>
            <li>PHP</li>
          </ul>
          <ul id="frameworks">
            <li>Angular</li>
            <li>Selenium</li>
            <li>git</li>
            <li>AWS</li>   
            <li>Ruby on Rails</li>
            <li>BURP</li>   
          </ul>
          <ul id="software">
            <li>Jira</li>
            <li>Excel</li>
            <li>Word</li>
          </ul>
        </div>
    </div>
</section>

<section id="experience" class="section">
    <div id="experiences">
        <h2>Experiences</h2>
        <h3>Job Experince</h3>
        <p>
          My previous jobs have prepared me to be able to work as part of a team in a professional software development environment. 
          I have gained experinece in collaborative softwares such as git, Jira, and 
        </p>
        <h3>School Experinces</h3>
        <p>
          I am currently attending Carleton University where I am taking Software Engineering. I have made the Dean's Honour List in each of the years that I have attended Carleton.
          As a student I learned how to work in a team with friends and strangers alike, how to take charge and when to follow other people's directions.
          I learned how to balance my school work and high achievements with a part time job and the ability to attend the occasional party with friends. 
    
        </p>
    </div>
</section>

<section id="projects" class="section">
    <div id="projects">
        <h2>Projects</h2>
        <p>
          This is the space where I will put my projects!
        </p>
    </div>
</section>

<section id="interests" class="section">
    <div id="interests">
        <h2>Interests</h2>
        <p>
            I have many different passions and interests in my life. I love to stay active by lifting weights, biking, hiking, you name it!
            I also enjoy watching many different sports including hockey, football, basketball, and aussie rules football.
            Something I have spent too much time doing is playing trading card games such as hearthstone and pokemon. I enjoy the strategies behind them and how they allow me to 
            be competitive and also creative in the same medium.
        </p>
    </div>
</section>


<app-contact></app-contact>
<app-reviews></app-reviews>