figure{
    text-align: center;
}

figure img{
    text-align: center;
    width: 300px;
    height: auto;
    padding: 2em;
    background: #CCCCCC;
    
}

.section {
    margin: 2em;
    font-size: 1em;
    padding: 1em;
    background-color: #CCCCCC;
    border-radius: 5px;
}

h2 {
    font-size: 2em;
    text-align: center;
}

.list-container {
    display: flex;
}

div#technical ul{
    flex: 33%;
}

div#technical ul li{
    text-decoration: none;
    list-style: none;
}

div#about {
    display: flex;
    flex-direction: column;
}

#about h2{
    display: top;
}
