<section id="about" class="section about">
    <div id="about">
        <h2 class="title">About Me</h2>
        <div class="aboutDiv fig">
          <figure class="picture">
            <img class="profile_picture" src="assets/images/Liam-Profile.jpg">
          </figure>
        </div>

        <div class="about_paragraph">
          <p>
            My name is Liam Murphy and I am a fifth year software engineering student at Carleton University. I will be graduating soon and am looking for a full-time job starting 2022.
            <br>
            I am interested in web applications, automation, or any new opportunities in software development. 
            <br>
            I enjoy lifting weights, playing trading card games such as Hearthstone, and cheering on the Sens in their march to the Stanley Cup. 
          </p>
        </div>
    </div>
</section>

<section id="technical" class="section">
    <div id="technical">
        <h2 class="title">Technical Knowledge</h2>
        <p class="technical_paragraph paragraph">
          I have experience in using the following for software development:
        </p>
        <div class="list-container">
          <ul id="languages">
            <li class="list_title"><b>Languages</b></li>
            <li>Python</li>            
            <li>Javascript</li>
            <li>Typescript</li>
            <li>Java</li>
            <li>C#</li>
            <li>C</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>PHP</li>
            <li>Ruby</li>
          </ul>

         
          <ul id="frameworks">
            <li class="list_title"><b>Frameworks</b></li>
            <li>Angular</li>
            <li>Selenium</li>
            <li>git</li>
            <li>NodeJS</li>
            <li>AWS</li>   
            <li>Ruby on Rails</li>
            <li>BURP</li>

          </ul>

          <ul id="software">
            <li class="list_title"><b>Software</b></li>            
            <li>Jira</li>
            <li>GitHub</li>
            <li>Visual Studio Code</li>
            <li>Excel</li>
            <li>Word</li>
          </ul>
        </div>
    </div>
</section>

<section id="experience" class="section">
    <div id="experiences">
        <h2 class="title">Job Experiences</h2>
        <ul class="experience job-experiences">
          <li>Automation Developer</li>          
          <li>Junior Software Developer</li>          
          <li>Quality Assurance Tester</li>          
        </ul>
        <h2 class="title">School Experiences</h2>
        <ul class="experience school-experience">
          <li>Carleton University</li>
          <ul class="university-experience">
            <li>BEng Software Engineering 2022</li>
            <li>Dean's Honour List</li>
          </ul>
          <li>High School</li>
          <ul class="experience highschool-experience">
            <li>High School Diploma with Honours</li>
            <li>Diplôme d'études en langue française (DELF) level B2</li>
          </ul> 
        </ul>
    </div>
</section>

<section id="projects" class="section">
    <div id="projects">
        <h2 class="title">Personal Projects</h2>
          <ul class="projectList">
            <li>
              This website was made using the Angular framework. Visit the repository <a href="https://github.com/L-Murphy/Liam-website">here</a>.
            </li>
            <li>
              A Python and Selenium script to automate a booking process. Visit the repository <a href="https://github.com/L-Murphy/robo_gym">here</a>.
            </li>
          </ul>
    </div>
</section>

<app-contact></app-contact>
<app-reviews></app-reviews>
<app-to-top-btn></app-to-top-btn>