ul{
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li{
    float: left;
}

a, p{
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 16px;
}

a:hover{
    background-color: rgb(10, 122, 233);
}

p{
    color: white;
    padding: 0 8px 0 8px;
}

