<nav id="nav">
    <ul>
        <li>
            <a href="#nav">Home</a>
        </li>
        <li>
            <a href="#about">About Me</a>
        </li>
        <li>
            <a href="#projects">My Projects</a>
        </li>
        <li>
            <a href=#contact>Contact Me</a>
        </li>
        <li>
            <a href=#reviews>Reviews</a>
        </li>
        <li>
            <p>My Socials</p>
        </li> 
        <li>
            <a href="https://github.com/L-Murphy">Github</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/liam-murphy-6b0529156/">LinkedIn</a>
        </li>
        <li>
            <a href="/assets/Test.pdf" download="Liam Murphy Resume">Download Resume</a>
        </li>        
    </ul>
  </nav>
